$photo:(
    photo-1: '../src/imeges/photo-1.png',
    photo-2: '../src/imeges/photo-2.png',
    photo-3: '../src/imeges/photo-3.png'
);
$breakpoints: (
    pc: 1100px,
    table: 767px,
    mobile: 420px
);

$icons:(
    teg: '\ea80',
    chain: '\e9cb',
    gear: '\e994',
    lock: '\e98f',
    display: '\e956',
    diamond: '\e900',
);