@media screen and (max-width: 1024px){
    .navigation{
        top: 0;
        width: 100%;
        height: 50px;
        z-index: 3;
        &__container{
            @include flex(row, center, flex-end);
        }
        &__content{
            @include flex(row, space-around, center);
        }
    }
    .main__container{
        margin: 0;
        width: 100%;
        position: relative;
    }
    .section-container-photo{
        width: 50%;
    }

}